body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

header {
    background: #0a3d62;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.portada {
    background: #1e90ff;
    color: white;
    padding: 40px;
    text-align: center;
}

.noticias {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

article {
    background: white;
    width: 30%;
    padding: 15px;
    border-radius: 10px;
}

article img {
    width: 100%;
    border-radius: 10px;
}

footer {
    background: #0a3d62;
    color: white;
    text-align: center;
    padding: 10px;
}
